<form
  class="book-form"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <label>ISBN
    <input type="text" formControlName="isbn">
    @if(form.get('isbn')?.dirty && form.get('isbn')?.hasError('required')){
      <small>Please insert a isbn.</small>
    }
    @if(form.get('isbn')?.dirty && form.get('isbn')?.hasError('invalidISBN')){
      <small>Please insert a VALID isbn.</small>
    }
  </label>
  <ng-container formArrayName="authors">
    @for(author of authors.controls; track $index){
      <div>
        <input type="text" [formControlName]="$index"> <button type="button" (click)="deleteAuthor($index)">Remove</button><br>
        @if(author.dirty && author.hasError('required')){
          <small>Please insert a author.</small>
        }
        @if(author.dirty && author.hasError('invalidAuthor')){
          <small>Please insert a VALID author.</small>
        }
      </div>
    }
  </ng-container>
  <button type="button" (click)="addAuthor()">Add Author</button>
  <label>Title
    <input type="text" formControlName="title">
    @if(form.get('title')?.dirty && form.get('title')?.hasError('required')){
      <small>Please insert a title. </small>
    }
  </label>
  <label>Subtitle
    <input type="text" formControlName="subtitle">
  </label>
  <label>Abstract
    <input type="text" formControlName="abstract">
  </label>

  <button class="book-form-submit" type="submit" [disabled]="form.invalid">Save</button>
</form>
