:host {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book-title {
  font-weight: bold;
  font-size: 1.2em;
  color: firebrick;
}

.book-abstract {
  font-style: italic;
}

.author-class {
  font-style: italic;
}
